[project]
name = "pws-in-context"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "pandas>=2.3.3",
    "torch>=2.9.1",
    "transformers>=4.57.3",
]
